
.box{
    margin-top: 20px;
}

.box-part {
    margin-top: 80px;
    padding: 30px 5px;

}
#resetButton{
    margin-top: 50px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.player1 , .player2{
    color: white;
    font-size: 25px;
    background-color: rgb(228, 136, 31);
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.player1 button:hover,.player2 button:hover {
 box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
